		<br />Portal: <a href="http://www.phpbbireland.com/" target="_phpbb"> Stargate Portal (the original phpbb3portal)</a> version {PORTAL_VERSION} &copy; 2005 - 2007 <a href="mailto:o2l@eircom.net" target="_blank">Michael O'Toole</a>
		<!-- IF S_ALLOW_FOOTER_IMAGES -->
		<br /><br />
		<a href="http://phpbb.com/" target="_blank"> <img src="./images/links/www.phpbb.com.gif"></a> 
		<a href="http://startrekguide.com/" target="_blank"> <img src="./images/links/www.startrekguide.com.gif"></a> 
		<a href="http://vikjavev.no/highslide/" target="_blank"> <img src="./images/links/vikjavev.no.gif"></a>
		<a href="http://www.mozilla.com/" target="_blank"> <img src="./images/links/www.mozilla.com.gif"></a> 
		<a href="http://www.phpbbireland.com/" target="_blank"> <img src="./images/links/www.phpbbireland.com.gif"></a> 
		<a href="http://www.e-tegra.com/" target="_blank"> <img src="./images/links/www.e-tegra.com.gif"></a> 
		<!-- ENDIF -->