<script src="./styles/js/prototype.js" type="text/javascript"></script>
<script src="./styles/js/scriptaculous.js" type="text/javascript"></script>
<script type="text/javascript" src="./styles/js/builder.js"></script>
<script type="text/javascript" src="./styles/js/effects.js"></script>
<script type="text/javascript" src="./styles/js/dragdrop.js"></script>
<script type="text/javascript" src="./styles/js/controls.js"></script>
<script type="text/javascript" src="./styles/js/slider.js"></script>
<script src="./styles/js/unittest.js" type="text/javascript"></script>

<script type="text/javascript" src="{T_TEMPLATE_PATH}/portal.js"></script>
<script type="text/javascript" src="mp3/ufo.js"></script>

<link rel="shortcut icon" href="http:www.phpbbireland/favicon.ico" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />

<!--[if lt IE 7]>
<script language="JavaScript">
function correctPNG() // correctly handle PNG transparency in Win IE 5.5 & 6.
{
   var arVersion = navigator.appVersion.split("MSIE")
   var version = parseFloat(arVersion[1])
   if ((version >= 5.5) && (document.body.filters))
   {
      for(var i=0; i<document.images.length; i++)
      {
         var img = document.images[i]
         var imgName = img.src.toUpperCase()
         if (imgName.substring(imgName.length-3, imgName.length) == "PNG")
         {
            var imgID = (img.id) ? "id='" + img.id + "' " : ""
            var imgClass = (img.className) ? "class='" + img.className + "' " : ""
            var imgTitle = (img.title) ? "title='" + img.title + "' " : "title='" + img.alt + "' "
            var imgStyle = "display:inline-block;" + img.style.cssText
            if (img.align == "left") imgStyle = "float:left;" + imgStyle
            if (img.align == "right") imgStyle = "float:right;" + imgStyle
            if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle
            var strNewHTML = "<span " + imgID + imgClass + imgTitle
            + " style=\"" + "width:" + img.width + "px; height:" + img.height + "px;" + imgStyle + ";"
            + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
            + "(src=\'" + img.src + "\', sizingMethod='scale');\"></span>"
            img.outerHTML = strNewHTML
            i = i-1
         }
      }
   }   
}
window.attachEvent("onload", correctPNG);
</script>
<![endif]-->

<script type="text/javascript" src="./styles/highslide/highslide.js"></script>


<script type="text/javascript">

	// remove the registerOverlay call to disable the controlbar
	hs.registerOverlay(
    	{
    		thumbnailId: null,
    		overlayId: 'controlbar',
    		position: 'top right',
    		hideOnMouseOut: true
		}
	);
	
    hs.graphicsDir = './styles/highslide/graphics/';
    hs.outlineType = 'rounded-white';
    window.onload = function() {
        hs.preloadImages(5);
    }
</script>