<!-- IDTAG portal.html starts -->
<!-- INCLUDE overall_header.html -->
<div align="center" width="100%">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="{BLOCK_WIDTH}" valign="top" style="position: relative;" id="left">
				<!-- BEGIN left_block_files -->

					{left_block_files.LEFT_BLOCKS}

				<!-- END left_block_files -->
			</td>
			<td width="10"><img src="images/spacer.gif" alt="" width="10" height="30" /></td>
			<td valign="top">
			<table width="100%" border="0" align="center">
			<td valign="top" align="center" width="100%" style="position: relative;" id="center"> 
<!-- INCLUDE blocks/block_page2.html -->
			</td>
			</table>
			</td>
			<td width="10"><img src="images/spacer.gif" alt="" width="10" height="30" /></td>
			<td width="{BLOCK_WIDTH}" valign="top" style="position: relative;" id="right">
				<!-- BEGIN right_block_files -->

					{right_block_files.RIGHT_BLOCKS}

				<!-- END right_block_files -->
			</td>
		</tr>
	</table>
<br />
</div>
<!-- INCLUDE overall_footer.html -->
<!-- IDTAG portal.html ends -->