<!-- IDTAG block_board_mini_nav starts  -->
<div style="position: relative;" id="_3">
	<!-- BEGIN portal_mini_menus_row -->
		<dd style="text-align:left; padding:2px; ">
			<span class="navmenu">&nbsp;<img src="{T_IMAGESET_PATH}/pips/{portal_mini_menus_row.PORTAL_MINI_MENU_ICON}" alt="" align="bottom" border="0" />
			<a href="{portal_mini_menus_row.PORTAL_MINI_MENU_LINK}">&nbsp;{portal_mini_menus_row.PORTAL_MINI_MENU_NAME}</a>
		</dd>
	<!-- END portal_mini_menus_row -->
</div>
<!-- IDTAG block_board_mini_nav ends -->