<!-- IDTAG block_portal_status starts -->
<dd style="text-align:center; padding:0; width:99%">
	{PORTAL_PROGRESS}<br />
	<h4 style="text-align:center; padding-top:5px;">phpBBportal Revision</h4>
	<br />31 January 2007
</dd>
<dd style="text-align:center;">
	<!-- BEGIN portal_status_row -->
	<h4 style="text-align:center; padding:2px; padding-top:8px;">{portal_status_row.MESSAGE_TITLE}</h4>
	<span class="gensmall">{portal_status_row.MESSAGE}</span>
	<!-- END portal_status_row -->
</dd>
<br />
<!-- IDTAG block_portal_status ends -->