<div align="center">
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td>

		<!-- INCLUDE blocks/blocks_header_left.html -->Kiss Portal 0.0.7<!-- INCLUDE blocks/blocks_header_right.html -->
			<table class="box" width="100%" cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr>
						<td width="10"> </td>
							<td>

							<span>
			<br>
			<span style="font-weight: bold;"><span style="color: green;">KisMod Portal 0.0.7 </span></span>
			is a front-end for the new phpBB3, currently available at revision:
			<span style="font-weight: bold;"><span style="color: red;"> Beta 5</span></span>.
			The current version of KisMod Portal includes, several mod such as Global Images (each theme can have its own images/icons/smilies) this makes for better blending of images and produce a nicer finished product, user Country Flag, etc., See the site for more information...
			The term "KisBB3" means "Keep it simple" and "integrated modifications" since the added modifications are customized to be compatible with each other.
			<br>
			<img src="./images/pictures/features.jpg" align="right" border="0">
			<br>
			This version of <span style="font-weight: bold;"><span style="color: green;">KisMod</span></span> is more powerful and feature-packed with the integration of <span style="font-weight: bold;"><span style="color: orange;">Kiss Portal</span></span> which is a versatile and powerful homepage frontend for the phpBB3 forum.  The version of <span style="font-weight: bold;"><span style="color: orange;">Kiss Portal</span></span> installed with KisMod utilizes the forum-wide integration of the blocks so that all pages can display the portal blocks as desired, multi-page feature for additional portal pages like this, utilising phpBB3's caching system for faster performance and lesser resources needed.
			<br>
			<br>
			For a full list of modifications (?) included with Kiss Portal 0.0.7, check <a href="http://www.phpbbireland.com/forum/mod_list.php" target="_blank" class="postlink"><span style="font-weight: bold;">this link</span></a>
			<br>
			<br>
				<div style="text-align: center;"><a href="http://KisMod2.com/forum/dload.php?action=category&cat_id=21" target="_blank" class="postlink"><span style="font-weight: bold;">Download Kiss Portal 1.0.0</span></a></div>
			<br>
			<br>
				For questions, comments, requests and feedback, please post in the <a href="http://www.integramod2.com/forum/index.php" target="_blank" class="postlink"><span style="font-weight: bold;">Forums</span></a>.
			<br>
			<br>
			This is the main discussion and development site with the latest version of KisMod.  If there are some modifications, these are for testing purposes which will be inlcuded in the next release.
			<br>
			<br>
			Be updated with what is happening with the KisMod project by subscribing to our <a href="http://www.integramod2.com/forum/digests.php" target="_blank" class="postlink"><span style="font-weight: bold;">Digest</span></a>.  Updates and fixes will always be posted in the News forums.
			<br>
			<br>
			Please support this site in any way that you can.  Just a little return to a nice piece of software application.  Thanks!  <img src="images/smiles/icon_smile.gif" alt="Smile" border="0"> 
			<br>
			<br>
			<div style="text-align: center;"><span style="color: green;"><span style="font-weight: bold;">KisMod</span></span> <span style="color: blue;">© 2004-2006 by The KisMod Group</span>. <a href="mailto:admin@KisMod2.com">admin@integramod2.com</a></div></span>
		</td>
		<td width="10"> </td>
	</tr>
	</tbody>
</table>
<!-- INCLUDE blocks/blocks_footer.html -->

</td></tr></table>
</div>