<!-- INCLUDE overall_header.html -->
<!-- BEGIN mypage -->
<!-- INCLUDE blocks/blocks_header_left.html -->
<span style="padding-top:3px;"><img src="{T_THEME_PATH}/images/mini_report.png" alt="" style="padding-top:2px;" /> {mypage.MY_PAGE_NAME} ({mypage.MY_DATE}). </span><!-- INCLUDE blocks/blocks_header_right.html -->
	<div class="box_new" style="text-align:left;"><div class="block_body_fill_left"><div class="block_body_fill_right">
		<div class="box_contents">
			<br />{mypage.MY_DATA}<br />
		</div>
	</div></div></div>
<!-- END mypage -->
<!-- INCLUDE blocks/blocks_footer.html -->
<!-- INCLUDE overall_footer.html -->